frontend/node_modules
backend/node_modules

frontend/build
backend/build

frontend/.env
frontend/.env.local

backend/.env

/backend/public/uploads/avatars/*
/backend/public/uploads/certificates/*
/backend/public/uploads/decrees/*

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
