.profileBg {
  background-image: linear-gradient(
    to right top,
    #0061f1,
    #7777f3,
    #a892f6,
    #cdaff9,
    #eacfff
  );
  min-height: 340px;
  margin-top: 2.3rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 1.4rem 2.6rem;
  border-radius: 10px;
}
.profileBg > div {
  display: flex;
  flex-direction: column;
}
